---
import "../styles/global.css";
import NavBar from "../components/gallery-ui/NavBar.astro";
import Footer from "../components/gallery-ui/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logo.png" />
		<title>Paper Gallery</title>
	</head>
	<body class="flex flex-col min-h-screen bg-background">
		<NavBar />
		<main class="flex-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>
